/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */

@tailwind  utilities;

/* purgecss start ignore */
.theme-light {
  --background-default: #f8f8f8;
  --foreground-default: #12181b;
  --primary: #0074CC;
  --secondary: #DF7101;
  --tertiary: #389292;
  --accent: #ffb400;
  --success: #a6d1a6;
  --warning: #d1c6a6;
  --danger: #d1a7a6;
  --info: #a6b4d1;
  --reverse-primary: #FFFFFF;
  

}

.theme-dark {
  --background-default: #12181b;
  --foreground-default: #f8f8f8;
  --primary: #FF1F93;
  --secondary: #5BB75B;
  --tertiary: #708c91;
  --accent: #ffb400;
  --success: #a6d1a6;
  --warning: #d1c6a6;
  --danger: #d1a7a6;
  --info: #a6b4d1;
  --reverse-primary: #000000;
}

a.is-active {
  color: var(--primary);
} 
a.is-active:hover {
  text-decoration: none !important;
}
.check-button {
  margin-left: 12px;
}
.check-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 4px;
  left: 2px;
  height: 16px;
  width: 16px;
  background-color: none;
  border: 1px solid var(--primary);
  margin: 4px 8px;
  border-radius:4px;
}
.check-button:hover input ~ .checkmark {
  border: 1px solid #FFF;
  background-color: var(--primary);
}
.check-button input:checked ~ .checkmark {
  background-color: var(--primary);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.check-button input:checked ~ .checkmark:after {
  display: block;
}
.check-button .checkmark:after {
  left: 4px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.dv-star-rating-star {
  color: var(--primary);
}

p > a {
  color: var(--primary);
  text-decoration: underline;
  transition: all;
  transition-duration: 400ms;
}
.content > p {
  line-height: 1.6em;
  padding: 4px 0px;
}


/* purgecss end ignore */